<% page_title "\"#{@artwork.name}\" by #{@artwork.user.name}" %>

<div class="section">
  <div class="card">
    <%= link_to url_for(@artwork.image),
      class: "card-image centered-image-container" do %>
      <%= image_tag @artwork.image.variant(resize: "1000x1000>") %>
    <% end -%>
    <div class="card-content">
      <article class="media">
        <figure class="media-left">
          <%= link_to @artwork.user, class: "image is-64x64" do %>
            <%= image_tag @artwork.user.small_avatar_img %>
          <% end %>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class="title">
              <%= @artwork.name %>
              <% if policy(ArtworkReblog.new(artwork: @artwork)).create? %>
                <div data-vue-component="artwork-reblogs/reblog-button"
                     data-artwork-id="<%= @artwork.id %>">
                </div>
              <% end %>
              <% if policy(@artwork).edit? %>
                <%= link_to edit_artwork_path(@artwork) do %>
                  <i class="material-icons">edit</i>
                <% end %>
              <% end %>
              <% if policy(@artwork).destroy? %>
                <%= link_to artwork_path(@artwork),
                  method: :delete,
                  data: { confirm: "Are you certain?" } do %>
                  <i class="material-icons">delete_forever</i>
                <% end %>
              <% end %>
            </p>
            <p class="subtitle">
              By <%= link_to @artwork.user.name, @artwork.user %>
            </p>
            <%= render "tags/tag_list",
              tags: @artwork.tags %>
            <p>
              <%= render_markdown @artwork.description %>
            </p>
            <hr />
            <%= time_tag @artwork.created_at %>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<%= render partial: "comments/comment_section",
  locals: { comments: @artwork.comments, commentable: @artwork } %>
