<div class="section">
  <%= form_for @user, class: "form" do |f| %>
    <div class="field">
      <%= f.label :bio, class: "label" %>
      <div class="control">
        <%= f.text_area :bio, class: "textarea" %>
      </div>
    </div>

    <div class="field">
      <div class="file">
        <%= f.label :avatar, class: "file-label" do %>
          <%= f.file_field :avatar, class: "file-input" %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="material-icons">upload</i>
            </span>
            <span class="file-label">
              Avatar
            </span>
          </span>
        <% end -%>
      </div>
    </div>

    <%= f.fields_for :prefs do |f| %>
      <div class="field">
        <%= f.label :nsfw, class: "label" %>
        <div class="select">
          <%= f.select :nsfw,
            [["Disabled", "disabled"], 
             ["Allowed", "allowed"],
             ["Required", "required"]],
          selected: @user.prefs["nsfw"] %>
        </div>
      </div>
    <% end %>

    <%= f.fields_for :notification_email_prefs,
        @user.notification_email_prefs do |ff| -%>
      <h2 class="subtitle">Notification Email Preferences</h2>
      <div class="field">
        <%= ff.label :user_followed, class: "checkbox" do %>
          <%= ff.check_box :user_followed %>
          New Followers
        <% end -%>
      </div>
      <div class="field">
        <%= ff.label :user_commented, class: "checkbox" do %>
          <%= ff.check_box :user_commented %>
          Comments on your Scraps and Artworks
        <% end -%>
      </div>
      <div class="field">
        <%= ff.label :user_reblogged, class: "checkbox" do %>
          <%= ff.check_box :user_reblogged %>
          Reblogs of your content
        <% end -%>
      </div>
    <% end -%>

    <div class="field">
      <%= f.submit class: "button" %>
    </div>
  <% end %>
</div>
