<%= form_for @scrap, class: "form" do |f| %>
  <div class="field">
    <div class="file">
      <%= f.label :image, class: "file-label" do %>
        <%= f.file_field :image, class: "file-input" %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label :name, "Name (Optional)" %>
    <div class="control">
      <%= f.text_field :name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :descrption, "Description (Optional)" %>
    <div class="control">
      <%= f.text_area :description, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :nsfw do %>
      <%= f.check_box :nsfw %>
      NSFW?
    <% end %>
  </div>

  <div class="field">
    <div data-vue-component="tags/new-tags-form"
         data-field-name="scrap[tag_ids]"
         <% if @scrap.persisted? %>
           data-field-preload-url="<%= url_for @scrap %>"
         <% end %>
         data-field-preload-path="tags"
         data-allow-create="true">
    </div>
  </div>


  <%= f.submit class: "button" %>

<% end %>
