<div class="section">
  <div class="card">
    <%= link_to url_for(@scrap.image),
      class: "card-image centered-image-container" do %>
      <%= image_tag @scrap.image.variant(resize: "1000x1000>") %>
    <% end %>

    <div class="card-content">
      <div class="content">
        <p class="title">
          <% if @scrap.name.blank? %>
            Untitled
          <% else %>
            <%= @scrap.name %>
          <% end -%>
          <% if policy(@scrap).edit? %>
            <%= link_to edit_scrap_path(@scrap) do %>
              <i class="material-icons">edit</i>
            <% end %>
          <% end %>
        
        <p class="subtitle">
          By <%= link_to @scrap.user.name, @scrap.user %>
        </p>

        <% unless @scrap.description.blank? %>
          <p><%= render_markdown @scrap.description %></p>
        <% end -%>

        <%= render "tags/tag_list",
          tags: @scrap.tags %>

        <%= time_tag @scrap.created_at %>
      </div>

    </div>
  </div>
</div>


<%= render partial: "comments/comment_section",
  locals: { comments: @scrap.comments, commentable: @scrap } %>
