<div class="section">
  <div class="card">
    <%= link_to url_for(@scrap.image),
      class: "card-image centered-image-container" do %>
      <%= image_tag @scrap.image.variant(resize: "1000x1000>") %>
    <% end %>

    <div class="card-content">
      <div class="content">
        <% if @scrap.name.blank? %>
          <p class="title grey">Untitled</p>
        <% else %>
          <p class="title"><%= @scrap.name %></p>
        <% end -%>
        <p class="subtitle">
          By <%= link_to @scrap.user.name, @scrap.user %>
        </p>

        <% unless @scrap.description.blank? %>
          <p><%= render_markdown @scrap.description %></p>
        <% end -%>

        <%= time_tag @scrap.created_at %>
      </div>

    </div>
  </div>
</div>

<%= render partial: "comments/comment_section",
  locals: { comments: @scrap.comments, commentable: @scrap } %>
