<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield_page_title %>
      Artworkdraft
    </title>
    <meta name="description"
          content="<%= yield_meta_tag(:description, default_meta_description) %>"
          />
    <meta name="keywords"
          content="<%= yield_meta_tag(:keywords, "") %>"
          />
    <meta property="og:title" 
          content="<%= yield_page_title %> ArtWorkDraft" />
    <meta property="og:site_name" content="ArtWorkDraft" />
    <meta property="og:image:url" content="<%= yield_og_tag(:image) %>" />
    <meta property="og:image:alt" content="<%= yield_og_tag(:image_alt) %>" />
    <meta property="og:type" 
          content="<%= yield_og_tag(:type, "website") %>" />
    <meta property="og:url"
          content="<%= request.url %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet" data-turbolinks-track="reload">
    <!-- We use google analytics, but we don't really care if you block it -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30487635-6"></script>
    <script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-30487635-6');
    </script>

  </head>

  <body>
    <%= render "navbar" %>
    <%= render "flash_notify" %>
    <%= yield %>
  </body>
</html>
